@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  background-color: #faf9f6;
}
h1,
h2 {
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
}

/* Logo & Navbar */
#logo {
  font-size: 125%;
  margin-left: 45px;
  float: left;
  text-decoration: none;
  color: #404040;
}

#menu {
  line-height: 65px;
}

#menu ul {
  float: right;
}

#menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 45px;
  font-weight: 200;
}

#menu a {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-decoration: none;
  color: #404040;
}

#menu a:hover {
  color: #708090;
  border-top: 1px solid #708090;
  padding-top: 7px;
}

.active {
  color: #708090;
  border-bottom: 1px solid #708090;
  padding-bottom: 7px;
}

/* Hero Image */

#hero-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#hero-image {
  background: url("../images/hero-image.jpg") no-repeat center center;
  width: 100%;
  height: 600px;
}

/* Hero sign up form */

#hero-sign-up {
  position: absolute;
  right: 45px;
  bottom: 30px;

  background-color: rgba(80, 80, 80, 0.6);
  border-radius: 10px;

  width: 385px;
  height: 500px;

  padding-top: 40px;
  padding-left: 30px;
  color: white;
}

#hero-sign-up form {
  margin: 0 auto;
}

#hero-sign-up h2 {
  font-size: 175%;
}

#hero-sign-up h3 {
  font-weight: 200;
}

#hero-sign-up input[type="email"],
input[type="text"] {
  border-radius: 12px;
  width: 45%;
  height: 25px;
  margin: 3px;
}

#hero-sign-up button {
  border-radius: 12px;
  width: 45%;
  height: 25px;
  margin-top: 15px;
  background: white;
}

#hero-sign-up p {
  margin-top: 15px;
}

#hero-sign-up div {
  margin-top: 100px;
}

/* Courses */

#courses {
  background: url("../images/contour-bg.svg") no-repeat center center;
  width: 100%;
  height: 600px;
}

#our-courses {
  text-align: center;
  padding-top: 20px;
  font-size: 200%;
}

#courses div {
  width: 20%;
  height: 300px;
  background: rgba(80, 80, 80, 0.6);
  float: left;
  padding: 30px 10px 0 10px;
  margin: 7% 2.5%;
  text-align: center;
  word-wrap: break-word;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Internships */

#internships {
  width: 100%;
  height: 700px;
  margin-top: 30px;
}

#our-internships {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 200%;
}

#right-internship {
  width: 100%;
  height: 300px;
}

#right-internship img {
  float: left;
  height: 300px;
  width: 45%;
  clip-path: polygon(0 0, 66% 0, 100% 100%, 0 100%, 0% 50%);
}

#right-internship div {
  float: right;
  width: 50%;
  height: inherit;
  margin-right: 25px;
}

#left-internship {
  width: 100%;
  height: 300px;
}

#left-internship img {
  float: right;
  height: 300px;
  width: 45%;
  clip-path: polygon(52% 0, 100% 0, 100% 100%, 0 100%);
}

#left-internship div {
  float: left;
  width: 50%;
  height: inherit;
  margin-left: 25px;
  word-wrap: break-word;
}

/* faq */

#faq {
  width: 100%;
  height: 300px;
  background: url("../images/contour-bg.svg") no-repeat center center;
  margin-top: 30px;
}

#faq h2 {
  text-align: center;
}

#faq article {
  width: 70%;
  margin: 0 auto;
}

#faq details {
  border: 1px solid #404040;
  padding: 7px 5px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

#faq summary {
  padding: 7px 20px;
}

#faq p {
  padding: 7px 20px;
}

footer {
  width: 100%;
  height: 150px;
  text-align: center;
  background: rgba(80, 80, 80, 0.6);
  color: #faf9f6;
  margin-top: 35px;
  padding-top: 25px;
}

footer div {
  width: 33%;
  height: 100%;
  float: left;
}

footer hr {
  border: 1px solid #faf9f6;
  height: 100px;
  float: left;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

/* Misc. compnents */

.button {
  border-radius: 20px;
  width: 35%;
  height: 35px;
  margin-top: 15px;
}

.button:hover {
  background-color: #708090;
  color: white;
  cursor: pointer;
}
