@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  background-color: #faf9f6;
}
h1,
h2 {
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
}

/* Logo & Navbar */
#logo {
  font-size: 125%;
  margin-left: 45px;
  float: left;
  text-decoration: none;
  color: #404040;
}

#menu {
  line-height: 65px;
}

#menu ul {
  float: right;
}

#menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 45px;
  font-weight: 200;
}

#menu a {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-decoration: none;
  color: #404040;
}

#menu a:hover {
  color: #708090;
  border-top: 1px solid #708090;
  padding-top: 7px;
}

/* Hero Image */

#hero-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#hero-image {
  background: url("../images/hero-image.jpg") no-repeat center center;
  width: 100%;
  height: 600px;
}

/* Hero sign up form */

#hero-sign-up {
  position: absolute;
  right: 45px;
  bottom: 30px;

  background-color: rgba(80, 80, 80, 0.6);
  border-radius: 10px;

  width: 385px;
  height: 500px;

  padding-top: 40px;
  padding-left: 30px;
  color: white;
}

#hero-sign-up form {
  margin: 0 auto;
}

#hero-sign-up h2 {
  font-size: 175%;
}

#hero-sign-up h3 {
  font-weight: 200;
}

#hero-sign-up input[type="email"],
input[type="text"] {
  border-radius: 12px;
  padding: 7px;
  width: 45%;
  height: 25px;
  margin: 3px;
}

#hero-sign-up label {
  display: inline-block;
  width: 75px;
  vertical-align: middle;
}

#hero-sign-up button {
  border-radius: 12px;
  width: 45%;
  height: 25px;
  margin-top: 15px;
  background: white;
}

#hero-sign-up button:hover {
  background-color: #708090;
  color: white;
}

#hero-sign-up p {
  margin-top: 15px;
}

#hero-sign-up div {
  margin-top: 100px;
}

/* Courses */

#courses {
  background: url("../images/contour-bg.svg") no-repeat center center;
  width: 100%;
  height: 600px;
}

#our-courses {
  text-align: center;
  padding-top: 20px;
  font-size: 200%;
}

#courses div {
  width: 20%;
  height: 300px;
  background: rgba(80, 80, 80, 0.6);
  float: left;
  padding: 30px 10px 0 10px;
  margin: 7% 2.5%;
  text-align: center;
  word-wrap: break-word;
  border-radius: 10px;
  box-sizing: border-box;
  color: #faf9f6;
}

/* Internships */

#internships {
  width: 100%;
  height: 700px;
  margin-top: 30px;
}

#our-internships {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 200%;
}

#right-internship {
  width: 100%;
  height: 300px;
}

#right-internship img {
  float: left;
  height: 300px;
  width: 45%;
  clip-path: polygon(0 0, 66% 0, 100% 100%, 0 100%, 0% 50%);
}

#right-internship div {
  float: right;
  width: 50%;
  height: inherit;
  margin-right: 25px;
}

#left-internship {
  width: 100%;
  height: 300px;
}

#left-internship img {
  float: right;
  height: 300px;
  width: 45%;
  clip-path: polygon(52% 0, 100% 0, 100% 100%, 0 100%);
}

#left-internship div {
  float: left;
  width: 50%;
  height: inherit;
  margin-left: 25px;
  word-wrap: break-word;
}

/* faq */

#faq {
  width: 100%;
  height: 400px;
  background: url("../images/contour-bg.svg") repeat center center;
  margin-top: 30px;
}

#faq h2 {
  text-align: center;
}

#faq div {
  width: 70%;
  margin: 0 auto;
}

#faq details {
  border: 1px solid #404040;
  padding: 7px 5px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

#faq summary {
  padding: 7px 20px;
}

#faq p {
  padding: 7px 20px;
}

footer {
  clear: both;
  width: 100vw;
  height: 150px;
  text-align: center;
  background: rgba(80, 80, 80, 0.6);
  color: #faf9f6;
  padding-top: 25px;
}

footer div {
  width: 33%;
  float: left;
}

footer hr {
  border: 1px solid #faf9f6;
  height: 100px;
  float: left;
  transform: rotate(180deg);
}

footer ul {
  list-style: none;
  font-weight: 100;
}

footer li {
  text-align: left;
  margin-left: 35%;
}

footer a {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-decoration: none;
  color: #faf9f6;
}

#payment-methods {
  width: 100%;
}

#payment-methods i {
  margin: 10px;
  font-size: 195%;
}

#social-media {
  width: 100%;
}

#social-media ul {
  list-style: none;
}

#social-media li {
  float: left;
}

#social-media i {
  margin: 10px;
  font-size: 200%;
}

/* Contact Page */

#contact-us {
  width: 100vw;
  height: 95vh;
  background: url("../images/contact-us.jpg") no-repeat center center/cover;
  overflow: hidden;
}
#contact-us h2 {
  padding: 33px;
}

#contact-us div {
  width: 65%;
  margin: 10% auto;
  padding: 15px;
  background-color: rgba(80, 80, 80, 0.6);
  border-radius: 10px;
  color: #faf9f6;
}

#contact-us form {
  margin-left: 45px;
}

#contact-us input[type="email"],
input[type="text"],
input[type="tel"] {
  border-radius: 12px;
  padding: 7px;
  width: 46.3%;
  height: 25px;
  margin: 5px;
}

#contact-us textarea {
  border-radius: 12px;
  margin: 3px;
  font-family: Ubuntu, Helvetica, sans-serif;
  width: 45%;
  padding: 14px;
  resize: none;
}

#contact-us label {
  display: inline-block;
  width: 75px;
  vertical-align: top;
}

#contact-us button {
  margin-left: 12px;
  width: 150px;
}

/* Top Destiation page */

.destination-container {
  float: left;
  width: 99vw;
  height: fit-content;
  margin: 0 5px 5px 5px;
}

.destination-container img {
  width: 25%;
}

.destination-container article {
  width: 65%;
}

.left-img {
  clip-path: polygon(0 0, 66% 0, 100% 100%, 0 100%, 0% 50%);
  float: left;
}

.left-info {
  float: left;
}

.right-img {
  clip-path: polygon(52% 0, 100% 0, 100% 100%, 0 100%);
  float: right;
}
.right-info {
  float: right;
}

/* Misc. classes */

.active {
  color: #708090;
  border-bottom: 1px solid #708090;
  padding-bottom: 7px;
}

.button {
  border-radius: 20px;
  width: 35%;
  height: 35px;
  margin-top: 15px;
}

.button:hover {
  background-color: #708090;
  color: white;
  cursor: pointer;
}

.footer-header {
  margin-bottom: 10px;
  font-weight: 200;
}

/* For large to medium screens from 1200px wide and down */
@media screen and (max-width: 1200px) {
  #courses div {
    width: 45%;
  }
}

/* For large to small screens from 980 wide and down */
@media screen and (max-width: 980px) {
  #logo {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  #logo h1 {
    text-align: center;
  }

  #menu {
    width: 100vw;
    height: 50px;
  }

  #menu ul {
    width: 100vw;
  }

  #menu li {
    width: fit-content;
    margin: 25px;
    float: left;
  }

  #hero-sign-up {
    right: 0;
    width: fit-content;
  }

  #courses {
    height: fit-content;
    background: url("../images/contour-bg.svg") no-repeat center center/cover;
  }

  #courses div {
    width: 95%;
  }

  #internships {
    margin-top: 100px;
    height: fit-content;
  }

  #right-internship {
    width: 95%;
    color: #faf9f6;
    height: fit-content;
    float: left;
    background: rgba(80, 80, 80, 0.6);
    padding: 30px 10px 15px 10px;
    margin: 7% 2.5%;
    border-radius: 10px;
    box-sizing: border-box;
  }

  #right-internship img {
    display: none;
  }

  #right-internship div {
    float: left;
    width: 95%;
  }

  #right-internship h2 {
    text-align: center;
  }

  #left-internship {
    width: 95%;
    color: #faf9f6;
    height: fit-content;
    float: left;
    background: rgba(80, 80, 80, 0.6);
    padding: 30px 10px 10px 10px;
    margin: 7% 2.5%;
    border-radius: 10px;
    box-sizing: border-box;
  }

  #left-internship div {
    float: left;
    width: 95%;
  }

  #left-internship img {
    display: none;
  }

  #left-internship h2 {
    text-align: center;
  }

  #left-internship ul {
    list-style: none;
  }

  #faq {
    width: 100vw;
    height: fit-content;
    background: none;
  }

  #faq div {
    width: 95%;
  }
  footer {
    height: 350px;
    padding: 20px 0;
  }

  footer div {
    width: 100%;
  }

  footer hr {
    margin: 15px;
    border: 1px solid #faf9f6;
    height: 0;
    width: 95%;
    transform: rotate(0deg);
  }

  /* Contact us  */

  #contact-us {
    width: 100%;
    height: 95vh;
  }
  #contact-us h2 {
    padding: 33px;
  }

  #contact-us div {
    width: 100%;
  }

  #contact-us form {
    margin-left: 0px;
  }

  #contact-us input[type="email"],
  input[type="text"],
  input[type="tel"] {
    width: 85%;
  }

  #contact-us textarea {
    width: 85%;
  }

  #contact-us button {
    margin: 12px;
    width: 200px;
  }

  /* Top Destination page */

  .destination-container {
    float: left;
    width: 99vw;
    height: fit-content;
    margin: 0 5px 5px 5px;
  }

  /* .destination-container img {
    width: 0;
  } */

  .destination-container article {
    width: 95%;
    height: fit-content;
    background: rgba(80, 80, 80, 0.6);
    float: left;
    padding: 30px 10px 10px 10px;
    margin: 7% 2.5%;
    text-align: center;
    word-wrap: break-word;
    border-radius: 10px;
    box-sizing: border-box;
    color: #faf9f6;
  }

  .left-img {
    display: none;
  }

  .left-info {
    float: left;
  }

  .right-img {
    display: none;
  }
  .right-info {
    float: left;
  }
}
